h1,
p {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}

.dark-mode h1,
.dark-mode p {
    color: #fff
}

.language-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Para empilhar os itens verticalmente */
    align-items: center;
    /* Centraliza os itens horizontalmente */
}

.language-toggle p {
    text-align: center;
    margin: 0px;
  }

.language-icon {
    width: 35px;
    height: 35px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-in-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.dark-mode .header {
    background-color: #121212;
    transition: 0.3s;
}

/* Estilos específicos para o toggle de dark mode */
input#darkmode-toggle {
    display: none;
}

input#darkmode-toggle+.darkmode-toggle-label {
    width: 125px;
    height: 50px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

input#darkmode-toggle+.darkmode-toggle-label:after {
    content: "";
    width: 43px;
    height: 43px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 45px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

input#darkmode-toggle:checked+.darkmode-toggle-label {
    background: #242424;
}

input#darkmode-toggle:checked+.darkmode-toggle-label:after {
    left: 122.5px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

input#darkmode-toggle:active+.darkmode-toggle-label:after {
    width: 65px;
}


/* Estilos para o fundo da página no modo dark */
.background {
    width: 100vw;
    height: 100vh;
    background: #ebebeb;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

.background.dark-mode {
    background: #242424;
}

/* Estilos para os ícones de sol e lua */
.darkmode-toggle-label svg {
    position: absolute;
    width: 35px;
    top: 7.5px;
    z-index: 100;
}

.darkmode-toggle-label svg.sun {
    left: 7px;
    fill: rgba(255, 255, 255, 0);
    stroke: #ff0909;
    transition: 0.3s;
}

.darkmode-toggle-label svg.moon {
    left: 83.5px;
    fill: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

input#darkmode-toggle:checked+.darkmode-toggle-label svg.sun {
    fill: rgba(217, 9, 9, 0);
}

input#darkmode-toggle:checked+.darkmode-toggle-label svg.moon {
    fill: #e6b802;
}